@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
html {
    background-color: #29333d;
}

.navbar.is-dark {
    background-color: #29333d;
}



.title {
    color: #01b47d;
}

.subtitle,
.subtitle strong {
    color: #ffffff;
}

.button.is-primary {
    background-color: #01b47d;
}

#avatar_of_me {
    margin: 2rem 0;
    max-width: 20%;
}

.section2 {
    background-color: #ffffff;
    color: #29333d;
}

#technologies {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #29333d !important;
    font-weight: 600;
}

.fab,
.fas {
    font-size: 5rem;
    padding-bottom: 2rem;
}

.navbar-menu {
    background-color: #29333d !important;
}

.navbar-item {
    color: #ffffff;
}

.fa-stamp,
.fa-code-branch {
    color: #01b47d;
    font-size: 9rem;
}

.fa-twitter-square,
.fa-github-square,
.fa-linkedin {
    color: #01b47d;
    font-size: 2rem;
}

.dg {
    color: #29333d;
    font-weight: 500;
}

.social_icon {
    margin: 2%;
}

#tetris {
    line-height: 0%;
    border: #01b47d ridge 1rem;
    width: auto;
    display: inline-block;
}

.tetris_unfilled {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-color:#29333d;
    color: #ffffff;
    font-size: 40%;
}
.tetris_filled {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-color:#01b47d;
}
